<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs practice</title>
</head>
<body>
    <h1>here is ejs template</h1>
    <p> <%= 1+1 %> </p>
    <p> <%= "pramod laha".toUpperCase() %> </p>
    <p> <%= ["pramod laha", "muskan thakur"][0] %> </p>
</body>
</html>