<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h1>INSTAGRAM Logo</h1>
    <p>This page belongs to @<%= username %> </p> 
    <h1>Accounts that follows you</h1>
    <ul>
        <% for(let name of followers){ %>
        <li><%= name %></li>
        <%}%>
    </ul>

    
</body>
</html>